html {
  text-align: center;
}

body {
  font-family: helvetica;
}

.header,
  .midsection {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color: white;
}

#broadway {
   font-size: 70px;
   font-weight: bold;
 }

 p.header {
   font-size: 18px;
   color: white;
 }

.footer {
  color: white;
  background-color: dimgray;
}

.midsection {
  font-size: 23px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.description {
  font-size: 14px;
}
